*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none!important;
}

img {
    max-width: 100%;
    display: block;
}

button,
input,
select,
textarea {

    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

}
